SET SQL_MODE = "NO_AUTO_VALUE_ON_ZERO";
SET time_zone = "+00:00";

CREATE TABLE `slices` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `users_imsi` varchar(15) NOT NULL DEFAULT 'pending',
  `slice_diff` tinyint(3) UNSIGNED NOT NULL DEFAULT '2',
   primary key (id)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;

CREATE TABLE `spgwc` (
   `id` int(11) NOT NULL,
   `pgwc_ins` varchar(15) DEFAULT '0.0.0.0'
) ENGINE=MyISAM DEFAULT CHARSET=latin1;

CREATE TABLE `services` (
   `id` int(11) NOT NULL,
   `service` varchar(15) NOT NULL DEFAULT 'web'
) ENGINE=MyISAM DEFAULT CHARSET=latin1;

INSERT INTO `services` (`id`, `service`) VALUES
{% for item in SLICES %}
({{item.DIF}}, '{{item.SERVICE}}') {{ ";" if loop.last else "," }}
{% endfor %}
 
INSERT INTO `spgwc` (`id`, `pgwc_ins`) VALUES
{% for item in SPGWC_PRIVATE_IP_LIST %}
({{item.SL_DIFF}}, '{{item.IP}}') {{ ";" if loop.last else "," }}
{% endfor %}


/* UPDATE `slices` ...
    WHERE slice_diff = spgwc.id */

